html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    padding-top: 56px; /* Отступ для фиксированной навигационной панели */
}

.navbar-nav {
    flex-direction: row; /* Убедитесь, что элементы навигации в одной строке */
}

.nav-link {
    padding-right: 15px; /* Отступ между элементами навигации */
}

.list-button {
    width: 950px; /* Ширина кнопки */
    height: 90px; /* Высота кнопки */
    background-color: rgba(0, 0, 0, 0); /* Цвет кнопки */
    color: rgb(0, 0, 0); /* Цвет текста */
    align-items: center; /* Вертикальное выравнивание по центру */

    text-align: left; /* Выравнивание текста по левому краю */
    padding-left: 20px; /* Отступ слева для текста */
    border: none; /* Убираем рамку */
    cursor: pointer; /* Курсор при наведении */
    transition: background-color 0.2s; /* Плавный переход цвета фона */
    text-decoration: none; /* Убираем подчеркивание текста */
}

    .list-button:hover {
        background-color: rgb(235, 235, 235); /* Цвет кнопки при наведении (lightgray) */
        color: rgb(0, 0, 0); /* Цвет текста */
    }

    .list-button.active {
        background-color: rgb(235, 235, 235) !important; /* Цвет кнопки при активации (lightgray) */
        color: rgb(0, 0, 0) !important; /* Цвет текста */
    }

.movie-item {
    width: 900px;
    background-color: white;
    margin: 10px 0; /* Отступ между элементами списка */
    transition: background-color 0.3s; /* Плавный переход цвета фона */
    overflow: hidden; /* Скрыть переполнение */
}

    .movie-item:hover {
        background-color: lightgray; /* Цвет при наведении */
    }

.movie-info {
}

.movie-link {
    display: inline-block; /* Делаем ссылку блочной для управления шириной */
    width: 40%; /* Ширина ссылки 40% от родительского блока */
    text-decoration: none; /* Убираем подчеркивание */
    color: black; /* Цвет текста */
}

.star {
    font-size: 24px;
    cursor: pointer;
    color: gray; /* Default color */
}

    .star.selected {
        color: gold; /* Color when selected */
    }


/* Multi checkbox drop-down*/
.multiselect {
    width: 200px;
}

.selectBox {
    position: relative;
}

    .selectBox select {
        width: 100%;
        font-weight: bold;
    }

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.checkboxes {
    display: none;
    border: 1px #dadada solid;
    max-height: 300px; /* Ограничиваем максимальную высоту */
    overflow-y: auto; /* Добавляем прокрутку по вертикали */
}

    .checkboxes label {
        display: block;
    }

        .checkboxes label:hover {
            background-color: #1e90ff;
        }

   /* Поле поиска фильмов */
.suggestions-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    background-color: white;
    z-index: 1000;
}

    .suggestions-list li {
        padding: 10px;
        cursor: pointer;
    }

        .suggestions-list li:hover {
            background-color: #f0f0f0;
        }