@model IEnumerable<int>

@{
    Layout = "~/Views/Shared/MovieFiltersLayout.cshtml"; // Укажите путь к вашему макету
}
<h1>Список годов</h1>

<div class="d-flex flex-column align-items-center">
    @foreach (var year in Model)
    {
        <a href="@Url.Action("Filter", "MoviesList", new { year = year, sortBy = "rating" })" class="list-button" )">
            @year
        </a>
    }
</div>