@{
    Layout = "~/Views/Shared/BaseLayout.cshtml";
}
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="@Url.Action("Index", "Genres")">Главная</a>
            <div class="d-flex align-items-center">
                <input type="text" class="form-control me-2" placeholder="Найти фильм" aria-label="Search">
                <a class="btn btn-outline-success" href="@Url.Action("Login", "Account")" type="button">Войти</a>
            </div>
        </div>
    </nav>
</header>
<div class="container mt-4">
    @RenderBody()
</div>
@RenderSection("Scripts", required: false)
