@{
    Layout = "~/Views/Shared/BaseLayout.cshtml";
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="@Url.Action("Index", "Genres")">Главная</a>
            <div class="d-flex align-items-center">
                <input type="text" class="form-control me-2" id="movieSearch" placeholder="Найти фильм" aria-label="Search" list="movieList">
                <datalist id="movieList"></datalist>
                @if (User.Identity.IsAuthenticated)
                {
                    <button class="btn btn-secondary" id="logout-button">Выйти</button>
                }
                else
                {
                    <a class="btn btn-outline-success" href="@Url.Action("Login", "Account", new {returnUrl = Context.Request.Path})" type="button">Войти</a>
                }
            </div>
        </div>
    </nav>
</header>
<div class="container mt-4">
    @RenderBody()
</div>


@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#movieSearch').on('input', function () {
                var titlePrefix = $(this).val();
                if (titlePrefix.length > 0) {
                    $.get('/MoviesList/GetMoviesByTitlePrefix', { titlePrefix: titlePrefix }, function (data) {
                        $('#movieList').empty(); // Очистить предыдущие результаты
                        if (data.length > 0) {
                            $.each(data, function (index, movie) {
                                $('#movieList').append(
                                    `<option value="${movie.name}" data-id="${movie.id}">${movie.name}</option>`
                                );
                            });
                        } else {
                            $('#movieList').append('<option value="Фильмы не найдены." disabled></option>');
                        }
                    });
                } else {
                    $('#movieList').empty(); // Очистить результаты, если ввод пустой
                }
            });

            // Обработка выбора фильма из списка
            $('#movieSearch').on('change', function () {
                var selectedOption = $('#movieList option[value="' + $(this).val() + '"]');
                if (selectedOption.length) {
                    var movieId = selectedOption.data('id');
                    window.location.href = '/MovieInfo/Details/' + movieId; // Перенаправление на страницу фильма
                }
            });
        });

        var logoutButton = document.getElementById('logout-button');
        if (logoutButton) {
            logoutButton.addEventListener('click', function () {
                if (confirm("Вы уверены, что хотите выйти?")) {
                    window.location.href = '@Url.Action("Logout", "Account", new {returnUrl = Context.Request.Path})';
                }
            });
        }
    </script>
}