@model IEnumerable<ReviewAggregatorWebApp.Model.Genre>
@using System.Globalization
@{
    Layout = "~/Views/Shared/MovieFiltersLayout.cshtml";
}
<h1>Список жанров</h1>

@if (User.IsInRole("Admin"))
{
    <div style="margin-bottom: 10px; margin-left: 30px;">
        <a asp-action="Create" class="btn btn-primary">Добавить жанр</a>
    </div>
}

<div class="d-flex flex-column align-items-center">
    @foreach (var genre in Model)
    {
        <div class="country-item list-button d-flex align-items-center" style="width: 100%; cursor: pointer">
            <span style="flex: 0 0 70%; cursor: pointer; display: flex; align-items: center; height: 100%;" onclick="location.href='@Url.Action("Filter", "MoviesList", new { genre = genre })';">@genre.Name</span>
            @if (User.IsInRole("Admin"))
            {
                <div style="flex: 0 0 30%; display: flex; justify-content: flex-end; position: relative;">
                    <form asp-action="Edit" asp-route-id="@genre.Id" method="get" style="margin-right: 5px; z-index: 1;">
                        <button type="submit" class="btn btn-secondary" style="width: 100%;">Изменить</button>
                    </form>
                    <form asp-action="Delete" asp-route-id="@genre.Id" method="post" style="margin-right: 20px;">
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Вы уверены, что хотите удалить этот жанр?');" style="width: 100%;">Удалить</button>
                    </form>
                </div>
            }
        </div>
    }
</div>