@model IEnumerable<ReviewAggregatorWebApp.Model.Country>

@{
    Layout = "~/Views/Shared/MovieFiltersLayout.cshtml";
}
<h1>Список стран</h1>

<div class="d-flex flex-column align-items-center">
    @foreach (var country in Model)
    {
        <a href="@Url.Action("Filter", "MoviesList", new { genre = "", year = "", director = "", country = country.Name, sortBy = "rating" })" class="list-button" )">
            @country.Name
        </a>
    }
</div>