@model IEnumerable<ReviewAggregatorWebApp.Model.Director>

@{
    Layout = "~/Views/Shared/MovieFiltersLayout.cshtml";
}
<h1>Список режиссеров</h1>

<div class="d-flex flex-column align-items-center">
    @foreach (var director in Model)
    {
        <a href="@Url.Action("Filter", "MoviesList", new { director = director.Name, sortBy = "rating" })" class="list-button" )">
            @director.Name
        </a>
    }
</div>